footer.foo
	.container
		.row
			.col-xs-12
				.foo__container
					.foo__right
						.foo__nav
							ul.nav-foo
								li.nav-foo__item
									a.nav-foo__link(href="#")
										| Корпоративный портал
								li.nav-foo__item
									a.nav-foo__link(href="#")
										| Задать вопрос
								li.nav-foo__item
									a.nav-foo__link(href="#")
										| Карта сайта
						.foo__search-and-social
							.social.foo__social
								a.social__link.i-social-dark-fb(href="#")
								a.social__link.i-social-dark-tw(href="#")
							.foo__search
								.foo__search-icon
								input.foo__search-input(type="text", placeholder="Поиск по сайту ...")
					.foo__desc
						| Автономная некоммерческая организация «Национальное агентство развития квалификаций»
						.foo__desc-contacts
							| Тел: 
							b
								| 8(495) 673-38-40  
							|  / 
							b
								|  E-mail: nark@rspp.ru
						| Все материалы сайта могут свободно использоваться в любых целях, кроме коммерческих. Распространение материалов сайта в коммерческих целях возможно только после письменного согласования с администрацией сайта. Ссылка на сайт и автора материала обязательна.