meta(charset="UTF-8")
meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
meta(content="telephone=no", name="format-detection")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic")
//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
//- link(rel="stylesheet", href="bower_components/slick-carousel/slick/slick.css?v=2")
//- link(rel="stylesheet", href="bower_components/formstone/dist/css/navigation.css?v=2")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css")
link(rel="stylesheet", href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css")
link(rel="stylesheet", href="css/bootstrap.css?v=2")
link(rel="stylesheet", href="css/style.css?v=3")