.header--fixed
	.container
		.row
			.col-xs-12.col-md-3
				#menu-fixed
.header
	.wrapper__row.clearfix
		.col-xs-12.col-md-3
			#menu-static
				.menu.header__menu
					.menu__header
						img.menu__logo(src="images/menu-logo.png", alt="")
						.menu__humburger.i-humburger
					.menu__body
						.menu__title
							| Об агентстве
						ul.menu__list
							li.menu__item
								a(href="#")
									| Цели и задачи
							li.menu__item
								a(href="#")
									| Учредители и руководство
							li.menu__item
								a(href="#")
									| Координационный совет
							li.menu__item
								a(href="#")
									| Наблюдательный совет
							li.menu__item
								a(href="#")
									| Базовая организация НСПК2
							li.menu__item
								a(href="#")
									| Структура НАРК
							li.menu__item
								a(href="#")
									| Контактная информация
						.menu__title
							| Новости
						ul.menu__list
							li.menu__item
								a.menu__link(href="#")
									| Новости НАРК
							li.menu__item
								a.menu__link(href="#")
									| Новости НСПК 
							li.menu__item
								a.menu__link(href="#")
									| Новости Минтруда


		.col-xs-12.col-md-9
			nav.nav.header__nav
				li.nav__item
					a.nav__link(href="#")
						.nav__icon.i-user
						| Вход
				li.nav__item
					a.nav__link(href="#")
						.nav__icon.i-help
						| Справка
				li.nav__item
					a.nav__link(href="#")
						.nav__icon.i-search
						| Версия для слабовидящих
				li.nav__item.nav__item_right.social.nav__social
					a.social__link.i-social-vk(href="#")
					a.social__link.i-social-fb(href="#")
					a.social__link.i-social-tw(href="#")

