.main-news
	h2.main-news__title
		| Новости
	.main-news__container
		.main-news__col
			.main-news__pr
				a(href="#")
					img(src="images/main-news-pr.jpg", alt="")
					.main-news__date
						| 30.06.2016 в 11:23
			.main-news__desc
				a(href="#")
					| Совещание с представителями советов по квалификациям по вопросам организации разработки оценочных средств для оценки профессиональных квалификаций
		.main-news__col.main-news__items
			.main-news-item
				.main-news-item__date
					a(href="#")
						| 30.06.2016 в 11:23
				.main-news-item__title
					a(href="#")
						| Межрегиональная конференция по вопросам внедрения Национальной системы профессиональных квалификаций на региональном уровне в г. Челябинск
			.main-news-item
				.main-news-item__date
					a(href="#")
						| 24.06.2016 в 16:58
				.main-news-item__title
					a(href="#")
						| Проекты документов по формированию, утверждению и актуализации справочника профессий
			.main-news-item
				.main-news-item__date
					a(href="#")
						| 23.06.2016 в 10:08
				.main-news-item__title
					a(href="#")
						| Обучение экспертов для региональных организаций по вопросам внедрения национальной системы квалификаций
	.main-news__buttons
		a.button.button_scheme_red.button_scheme_red-reverse.button_size_md(href="#")
			| Все новости