.breadcrumbs.clearfix
	.row
		.col-xs-12
			ul.breadcrumbs__container
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#s")
						| Главная
				li.breadcrumbs__item
					| Профессионально-общественная аккредитация
.inside.clearfix
	.row
		.col-xs-12
			h2.inside__title
				| Профессионально-общественная аккредитация
	.row
		.col-xs-12
			.inside__entry
				.inside__pr
					img(src="images/inside-pr.jpg", alt="")
				h4
					| Как стать центром аккредитации
				p
					| Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Таким образом укрепление и развитие структуры в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
				div.fkx
				h4
					| Условия 
				p
					| Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. 
				ul
					li 
						| Интересный эксперимент проверки;
					li
						| Задача организации, в особенности же укрепление и развитие структуры;
					li
						| Создание направлений прогрессивного развития;
					li
						| Идейные соображения высшего порядка.
				ol
					li
						| Интересный эксперимент проверки;
					li
						| Задача организации, в особенности же укрепление и развитие структуры;
					li
						| Создание направлений прогрессивного развития.
					li
						| Идейные соображения высшего порядка.
				blockquote
					| “ Задача организации, в особенности же постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. “
				.over
					table
						tr
							th.text-left
								| Параметр
							
							th
								| Значение
							th
								| Значение
						tr
							td.text-left
								| Документация
							td
								| Да
							td
								| Нет
						tr
							td.text-left
								| Организации
							td
								| Да
							td
								| Нет
						tr
							td.text-left
								| Сертификация
							td
								| Нет
							td
								| Да
						tr
							td.text-left
								| Гарантии
							td
								| 15
							td
								| 25

