form.main-search(action="")
	input.input.main-search__text(type="text", placeholder="Поиск по сайту")
	select.select.main-search__select
		option(selected, disabled)
			| Искать в разделе
		option
			| ...
	button.button.button_scheme_red.button_scheme_red-reverse.button_size_sm.main-search__button
		| Найти