.main-serv
	h2.main-serv__title
		| Услуги
	.main-serv__body
		.main-serv-item
			.main-serv-item__title
				| Консалтинг
			.main-serv-item__desc
				| Консультационная и организационная поддержка взаимодействия Российского союза промышленников и предпринимателей, других объединений работодателей с государственными структурами в области развития образования и рынка труда
		.main-serv-item
			.main-serv-item__title
				| Обучение
			.main-serv-item__desc
				.main-serv-item__subdesc
					| Обучение и консультирование по вопросам разработки и применения профессиональных стандартов
				.main-serv-item__subdesc
					| Обучение и проведение консультаций по вопросам развития НСК, проведение конференций, семинаров, круглых столов
				.main-serv-item__subdesc
					| Формирование общедоступной базы лучших отечественных и зарубежных практик в области организации профессионального образования и обучения, организация и мониторинг их распространения и внедрение
				.main-serv-item__subdesc
					| Участие в развитии нормативно-правовой и методической базы системы професионального образования и обучения
		.main-serv-item
			.main-serv-item__title
				| Экспертиза
			.main-serv-item__desc
				| Экспертиза заявок на наделение полномочиями аккредитующей организации и направление результатов для рассмотрения профильной рабочей группой Национального совета