doctype html
html
	head
		include jade/head.jade
		title Сотрудники
	body
		.container
			.row
				.wrapper.clearfix
					include jade/header.jade
					include jade/breadcrumb.jade
					include jade/contacts.jade
					include jade/foo.jade

		include jade/scripts.jade
